form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    /*border-radius: 8px;*/
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    padding-top: 2em;
}